version: '3'

services:

    db:
        container_name: transportadorDb
        image: postgres
        environment:
            GET_HOST_FROM: dns
            POSTGRES_DB: dev
            POSTGRES_USER: postgres-dev
            POSTGRES_PASSWORD: mysecretpassword
        ports:
            - 5432:5432
        networks: 
            - transportador
        
    app:
        container_name: transportadorApp
        image: loja/transportador:v1
        hostname: transportador
        build:
            context: .
            dockerfile: Dockerfile
        environment: 
            GET_HOST_FROM: dns
        networks: 
        - transportador
        volumes: 
        - .:/go/src/transportador
        ports: 
        - 8080:8080
        depends_on: 
        - db
        links: 
        - db
        labels: 
            kompose.service.type: LoadBalancer

networks: 
    transportador:
        driver: bridge
        
         
            

